body {
  background-color: lightgray;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.inputs {
  margin: 40px;
  padding: 15px;
  border: 1px dotted black;
  height: 185px;
  width: 300px;
}

.list {
  margin: 15px;
  width: 700px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}